/* Main Section Blocks and Containers */
.section {
  padding-bottom: 50px;
}
.section.last-child {
  padding-bottom: 0;
}
.section-header {
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-bottom: .08rem solid #eee;
}
.container.org-spacing {
  padding: 2rem 0rem 2rem 0rem;
}
.email-widget {
  margin: 1rem auto; 
  padding: 1rem;
  border: 1px solid #d5dadd;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  border-collapse: separate;
}

/* Map */
.mapWindow {
  height: 25rem;
  width: 80%;
  margin: 0 auto;
}
.gm-style-iw div { 
 overflow-x: hidden !important; 
}
.infoHeader {
  text-align: left;
  margin-bottom: .1rem;
}
.infoSubHeader {
  text-align: left;
}
.iw-row {
  justify-content: center;
  text-align: center;
}
.iw-row div[class*="col"] {
  margin-bottom: 1rem;
  overflow-y: hidden;
}
/* Header and Footer */
.header {
  position: relative;
  min-height: 5rem;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  background-image: url("/assets/img/topopattern.svg");
  background-size: cover;
}

.footer {
  padding-top: 1.8rem;
  padding-bottom: 1.3rem;
  color: #99979c;
  text-align: center;
  background-color: #2a2730;
}
.search-label {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0rem;
}
.content-middle {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

/* Card Layout */
.card.preview {
  margin: 0rem 1rem 1rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card-block.flexed {
  display: flex;
  flex-direction: column;
}
.row.resources {
  margin-bottom: 1rem;
  padding: 0rem 1rem;
}
.row.restrictions {
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: center; /* Safari 6.1+ */
  display: flex;
  justify-content: center;
  padding: 0rem 2rem 1rem;
}
.restrictions div {
  padding: 0rem;
  line-height: 1.4rem;
  margin-bottom: .3rem;
}
.flex-list {
  flex-grow: 1;
  display: inline-block;
  margin-right: .5rem;
}
.table.table-sm {
  width: 75%;
}
.table.table-flex {
  width: 80%;
}
@media (min-width: 992px) {
  .table.table-flex {
    width: 93%;
  }
}
.table.outer-border {
  border: 1px solid #d5dadd;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  border-collapse: separate;
}
.table.outer-border td {
  border-top: 1px solid #e3e6e8;
}
/* Round corner fix for date-time table */
.table.outer-border tr:first-child > td{
  border-top: none;
}

/* Operating Hours */
.today {
  font-weight: bold;
  color: #F66733;
}
.day {
  float: left;
  display: inline-block;
}
.time {
  float: right;
  display: inline-block;
}

/* Team */
.social-media {
  margin: 1rem auto;
}


