
/* Makerday */
.makerday-header {
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .makerday-container *{
    font-size: 18px;
  }
  .makerday-container {
    margin-right: auto;
    margin-left: auto;
    width : 100%;
  }
}
@media only screen and (min-width: 992px) {
  .makerday-container *{
    font-size: 24px;
  }
  .makerday-container {
    margin-right: auto;
    margin-left: auto;
    width : 80%;
  }
}

.makerday-container p{
  font-weight:400;
  font-size: 1em;
  line-height: 1em;
}
.makerday-container h1{
  font-weight:700;
  font-size: 1.5em;
  line-height: 1em;
}
.makerday-container h2{
  font-weight:700;
  font-size: 1.3em;
  line-height: 1.3em;
}
.makerday-container h4{
  font-weight:400;
  font-size: 1.5em;
  line-height: 1em;
}

.makerday-container hr{
  border-top: 2px solid orange;
  margin-top: 1em;
  margin-bottom: 1em;
  width:100%
}

.makerday-blurbs .container{
  background-color: #f9c769;
  margin-bottom: 1em;
  padding: 1em;
}

.whos-coming {
	position: relative;
	padding-bottom: 50px !important;
	overflow: hidden;
	height: 230px;
}

.whos-coming.more {
	height: auto;
}

.demo-list {
	columns: 400px;
	column-gap: 2em;
}

.demo-list div {
	margin-bottom: 1.2em;
	break-inside: avoid;
}

.demo-list h3 {
	margin: 0.5em 0;
	font-weight: 600;
}

.demo-list ul {
	padding-left: 0px;
	margin-top: 0.5em;
}

.demo-list li {
	padding: 0 12px;
	margin-bottom: 6px;
	background: #f7b939;
	list-style: none;
}

.see-more-less {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
	padding-top: 75px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    line-height: 50px;
    background: linear-gradient(rgba(249,197,88,0), rgba(249,197,88,1));
}

.whos-coming.more .see-more-less {
  background: none;
}

.makerdayText{ 
  font-family: 'Barlow', sans-serif;
}

.makerdayText h1{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 800;
  color: #7678ED;

}
 .makerdayText h2{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  color: #7678ED;
 }

.makerdayText h3{
  font-size: 1rem;
  font-weight: 800;
  color: #06D6A0;
}

.makerdayText h4{
  font-size: 1rem;
  font-weight: 800;
  color: #FF5E5B;
}

.makerdayText h5{
  font-size: 1rem;
  font-weight: 800;
  color: #7678ED;
}

.subtitle{
  margin-bottom: .5rem;
}

.makerdayText a{
  font-size: 1rem;
  font-weight: 800;
  color: #FF5E5B;
  text-decoration: underline;
}

@media only screen and (min-width: 992px) {
  .makerdayText h1{
    font-size: 2rem;
    text-align: left;
  }
  .makerdayText h2{
    font-size: 1.8rem;
    text-align: left;
  }
  .makerdayText h3{
    font-size: 1.8rem;
  }
  .makerdayText h4{
    font-size: 1.5rem;
  }
  .makerdayText h5{
    font-size: 1.5rem;
  }
  .makerdayText a{
    font-size: 1.8rem;
  }
  .subtitle{
    font-size: 1.8rem;
  }
  .description{
    font-size: 1.3rem;
  }
}

.block1{
  background: url(../img/makerday/blockGroup1.svg);
}
.paw{
  background: url(../img/makerday/tigerPaw.png);
}
.legos{
  background: url(../img/makerday/legos.png);
}
.printStatue{
  background: url(../img/makerday/3dprintStatue.png);
}
.screenprinting{
  background: url(../img/makerday/screenprinting.png);
}
.imgCover {
  min-height: 200px;
  width: 100%;
  height: 100%;
  background-size: auto 100%, cover;
  background-repeat:no-repeat;
  background-position: center center;
}

.reducedGutters{
  padding: 0rem .3rem;
}





