
.header {
  position: relative;
  padding: 2rem 0rem;
  margin: 2rem 0rem 0rem 0rem;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 .15rem 0 rgba(0,0,0,.1);
  background-color: #F66733;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F66733), to(#f87f54));
  background-image: -webkit-linear-gradient(top, #F66733 0%, #f87f54 100%);
  background-image:      -o-linear-gradient(top, #F66733 0%, #f87f54 100%);
  background-image:         linear-gradient(to bottom, #F66733 0%, #f87f54 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F66733', endColorstr='#f87f54', GradientType=0);
  background-repeat: repeat-x;
}

.section {
  padding-bottom: 50px;
}
.bg-grey {
  background: #f7f7f7;
}
.section.last-child {
  padding-bottom: 0;
}
.section-header {
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-bottom: .08rem solid #eee;
}
.footer {
    padding-top: 1.8rem;
    padding-bottom: 1.3rem;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}
.card.even-spacing {
  margin: 0rem 1rem 1rem 1rem;
}
.container.org-spacing {
  padding: 2rem 0rem 2rem 0rem;
}

